
#html {
  background: url(../assignment/assets/Isla.jpg);
  background-size: 100%;
  background-size: cover;
  position: relative;
}



#body {
  background-color: rgba(152, 66, 100, 0.45); /* Give your page a fun background color */
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  background-size: 100%;
  background-size: cover;
  border: 14px solid rgba(255, 255, 255, .4);
  border-width: medium;
  position: absolute;
}


#header {
  background-color: rgba(72,209,204,0); /* Make the header and footer a different color from the background */
  background-image: linear-gradient(to left,rgba(0,0,100,0), rgba(72,209,150,.3), rgba(0,0,100,0));
  text-align: center;
  width: 100%;
  margin: 0, auto;
}

#footer {
  background-color: rgba(72,209,204,0.4); /* Make the header and footer a different color from the background */
  width: 100%;
  height: 2.5rem;
  text-align: right;
}


h1 {
    font-family: "Goudy Bookletter 1911", sans-serif;
    text-align: center;/* Align the h1 containing your name in the center of the header*/
    color: rgb(255,218,185);
  }

p {
  font-style: italic;
  color: white;
  }/* Make your p tag a different color and italic */



img {
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #555;
  filter: grayscale(100%)*/
}


#headshot {
    border: 10px solid rgba(255, 255, 255, .4); /* Put a border around your image */
    border-radius: 5px 20px 5px;
    /*width: 200px;
    margin: 50px auto;*/
}

#list {
    font-family: "Gill Sans";/* Change the font-family of your list */
    color: white;
    width: 500px;
    margin: 0 auto;

}

#list-header {
  text-align: center;
  width: 100%;


}

#Netscape {
  margin: 0 auto;
}

.pic:hover {
  transform: scaleX(-1);
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.icons {
  margin: 0 auto;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
